{% extends 'base.html' %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/feed.css')}}">
{% endblock style %}
{% block main %}
  <div class="container">
    {% for post in posts %}
      <div class="feed">
          <h3 class="name">{{post.name}}</h3>
          <p class="content">{{post.post_text}}</p>
          <div class="accessory">
              <img src="/static/img/ic_comment.jpg" width="16px"> Comments
          </div>
      </div>
    {% endfor %}
    {{pagination.links}}
  </div>
  <div class="page-list">
  </div>
{% endblock main %}
