{% extends 'base.html' %}
{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<link href="{{url_for('static', filename="styles/signup.css")}}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block main %}

  <form id="signupForm" method="POST" action="{{url_for('signup')}}">
    <h1>Please Sign Up</h1>
    <div class="form-control-container top">
        <input type="id" class="form-control" id="id" name="id" placeholder="Make ID" maxlength="20">
        <label for="id"></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your name" maxlength="20">
        <label for="name"></label>
    </div>

    <div class="form-control-container">
        <input type="password" class="form-control" id="password" name="password" placeholder="Make Password" maxlength="20">
        <label for="password"></label>
        <!-- <input type="password" class="form-control" id="floatingPassword" name="signup_confirm_pw" placeholder="Confirm Password">
        <label for="floatingPassword"></label> -->
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
  </form>

  <p class="mt-5 mb-3 text-muted">&copy;HOTSIX</p>

  <div id="confirm_id_msg">{{confirm_id_msg}}</div>
  <div id="confirm_name_msg">{{confirm_name_msg}}</div>
  <div id="confirm_pw_msg">{{confirm_pw_msg}}</div>
  {% if already_name_msg %}
  <div id="already_name_msg">{{already_name_msg}}</div>
  {% endif %}
  {% if already_id_msg %}
  <div id="already_id_msg">{{already_id_msg}}</div>
  {% endif %}
{% endblock main %}
{% block script %}{% endblock script %}