{% extends 'base.html' %}
{% block style %}
  <style>
    body {
      color:whitesmoke;
      background-color: rgb(33, 37, 41);
    }
    #loginTrue{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end
    }
    #loginoutBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end
    }
    #home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
{% endblock style %}
{% block header %}
<p id="loginTrue">{{user_name}}</p>
<div id="loginoutBox">
    <a id="loginBox"><button onclick="window.location.href='{{ url_for("login") }}'">로그인</button></a>
    <!-- <a href= {{ url_for("logout") }} id="logoutBox"><button>로그아웃</button></a> -->
</div>
{% endblock header %}
{% block main %}
<h1 id="home">뉴스피드 홈 화면 입니다.</h1>
{% endblock main %}
{% block script %}
<script>
  const loginTrue = document.querySelector("#loginTrue").innerText
  const loginBoxTemp = `<button onclick="window.location.href = '{{ url_for("login") }}'">로그인</button>`
  const logoutBoxTemp = `<button onclick="window.location.href = '{{ url_for("logout") }}'">로그아웃</button>`
  const profileBoxTemp = `<button onclick="window.location.href = '{{ url_for("profile") }}'">내 프로필</button>`
  
  if (Boolean(loginTrue) == true){
      $('#loginoutBox').empty()
      $('#loginoutBox').append(logoutBoxTemp)
      $('#loginoutBox').append(profileBoxTemp)
      console.log('login succeed')
  }
  else if(Boolean(loginTrue) == false){
      $('#loginoutBox').empty()
      $('#loginoutBox').append(loginBoxTemp)
      console.log('logout succeed')
  }
  </script>
{% endblock script %}
