<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>프로필 수정</title>
    <link rel="stylesheet" type="text/css" href="/static/css/profile_update.css">
</head>
<body>
        <div class="profile_update_top">
            <h1>프로필 수정</h1>
        </div>
        <!--프로필 사진 부분-->
        <div class="profile_update">
            프로필 사진 <span>수정</span>
        </div>
        <img class="profile_img_update" src="/static/img/기본 이미지.jpg" alt="img">
        <!--배경 사진 부분-->
        <div class="profile_update">
            배경 사진 <span>수정</span>
        </div>
        <img class="back_img_update" src="/static/img/배경예시.jpg" alt="img">
    </div>
</body>
</html>