<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mainSection.css">
    <link rel="stylesheet" type="text/css" href="/static/css/feed.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/script.js"></script>
    <script>

    </script>
</head>
<body>
<header>
    <h1>PROFILE PAGE</h1>
    <div>
        <ul>HOME</ul>
        <ul>LOGOUT</ul>
    </div>
</header>
<section>
    <img id="back_img" src="/static/img/배경예시.jpg" alt="img">
    <div class="profile">
        <img id="profile_img" src="/static/img/기본 이미지.jpg" alt="img">
        <h1 id="profile_name">한동주</h1>
        <button type='button' id="modal_btn">프로필 수정</button>
    </div>

    <!--모달창 시작-->

    <hr style="width:80%">
    <h2 style="margin-left:10%">내가 작성한 글</h2>
</section>
<div class="container">
    <div class="feed">
        <h3 class="name">이름</h3>
        <div class="date">날짜</div>
        <a class="title">글 제목</a>
        <p class="content">글 내용</p>
        <div class="accessory">
            <img src="/static/img/ic_comment.jpg" width="16px"> Comments
        </div>
    </div>
    <div class="feed">
        <h3 class="name">이름</h3>
        <div class="date">날짜</div>
        <a class="title">글 제목</a>
        <p class="content">글 내용</p>
        <div class="accessory">
            <img src="/static/img/ic_comment.jpg" width="16px"> Comments
        </div>
    </div>
    <div class="feed">
        <h3 class="name">이름</h3>
        <div class="date">날짜</div>
        <a class="title">글 제목</a>
        <p class="content">글 내용</p>
        <div class="accessory">
            <img src="/static/img/ic_comment.jpg" width="16px"> Comments
        </div>
    </div>
</div>


</body>
</html>