{% extends 'base.html' %}
{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<link href="{{url_for('static', filename='styles/signupsucceded.css')}}" rel="stylesheet" type="text/css">
{% endblock style %}
{% block main %}
<h1 id="signupsucceded">HOTSIX 회원가입 성공!!</h1>
<!-- <h1 id="signupsucceded">{{already_signup}}</h1> -->
<form action="{{url_for('login')}}">
    <button class="w-100 btn btn-lg btn-primary" id="loginbutton">로그인 하러가기</button>
</form>
{% endblock main %}